<!DOCTYPE html>

	{% extends "base.html" %}
	{% load staticfiles %}
    
{% block headercard %}
<h2 class="mdl-card__title-text">Update Hostel-Fee Database
</h2>{% endblock %}
{% block mainlinks %}
		<a class="mdl-navigation__link" href="/profile/">Home</a>
        <a class="mdl-navigation__link" href="/logout/">Logout as {{ user.username}}</a>
        
      {% endblock %}
{% block content %}
    <div style="padding-left:400px; padding-top:50px;">
        <br/><br/><br/>
    <form action="." method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">            
        </form></br>
    </div>
        <div style="padding-left: 200px; padding-top: 30px;">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Year</th>
      <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
      <th>Fee</th>
    </tr>
  </thead>
  <tbody>
    {% for i in hostel_fee %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{i.year}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <td></td><td></td><td></td><td></td><td></td>
      <td>{{i.amount}}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/><br/><br/>
        </div>
{% endblock %}